@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;
}
.notifications {
  position: absolute;
  top: 14.6%;
      left: 50.7%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 500px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: #dadbff;
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before, .btn#success {
  background: var(--success);
}
.toast.error::before, .btn#error {
  background: var(--error);
}
.toast.warning::before, .btn#warning {
  background: var(--warning);
}
.toast.info::before, .btn#info {
  background: var(--info);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: var(--success);
}
.toast.error .column i {
  color: var(--error);
}
.toast.warning .column i {
  color: var(--warning);
}
.toast.info .column i {
  color: var(--info);
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #21212a;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}


:root{
    /* ===== Colors ===== */
      font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;
      font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;
    --dark: #34495E;
        --light: #ebebeb;
        --success: #0ABF30;
        --error: #E24D4C;
        --warning: #E9BD0C;
        --info: #3498DB;
        /* ===== Colors ===== */
        --primary-color: #25398e;
        --panel-color: #FFF;
        --text-color: #000;
        --black-light-color: #707070;
        --border-color: #e6e5e5;
        --toggle-color: #DDD;
        --box1-color: #25398e;
        --box2-color: #006B49;
        --box3-color: #FF3F40;
        --title-icon-color: #fff;
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
.btnServiceUTOG{
  background: url(//utog.org/assets/uploads/images/inbox/subtn.png) no-repeat left center;
  background-size: contain;
  border-radius: 25px;
  border: none;
  bottom: 16px;
  cursor: pointer;
  height: 60px;
  left: 16px;
  position: fixed;
  width: 190px;
  z-index: 100000;
}
body{
  background-color: #f0f3ff;
}
nav{
  position: fixed;
  width: 100%;
  padding: 20px;
    font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;  transition: all 0.4s ease;
  z-index: 988;
}
nav.sticky{
  background:#fff;
  padding: 13px 0;
}

.header-button{
  margin: 0 8px;
}
.header-button .header-button-reg{
  position: relative;
	color: #fff;
	padding: 8px 20px;
	background: #25398e;
	border-radius: 8px;
	margin: 0 15px;
	font-size: 18px;
	text-decoration: none;
	overflow: hidden;
  border: 2px solid transparent;
}
.header-button-reg:hover{
  border-color: #3048b1;
  background-color: #3048b1;
  color: #fff;
}
.header-button .header-button-reg1{
  position: relative;
	color: #fff;
	padding: 8px 10px;
	background: #3c897d;
	border-radius: 8px;
	font-size: 18px;
	text-decoration: none;
	overflow: hidden;
  border: 2px solid transparent;
}
 .header-button .header-button-reg1:hover{
  border-color: #5FAEA1;
  background-color: #5FAEA1;
  color: #FFF;
}

nav .navbar{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.navbar .menu .golovna{
  color: #25398e;
  font-size: 20px;
}
nav.sticky .navbar .logo a{
  color: #25398e;
}
nav.sticky .navbar .menu li a{
  color: #25398e;
}



nav.sticky .navbar .login-button a:hover{
  color: #25398e;
}
nav.sticky .menu-btn{
  color: #25398e;
}
nav .navbar .menu .cancel-btn{
  color: #25398e;
  top: 260px;
}
.navbar .btn .login-button a{
  color: #25398e;
  display: inline-block;
  position: relative;
  padding: 0;
}
.navbar .btn .login-button a::after{
  content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 0px;
  border-radius: 6px;
	left:0;
	background-color: #f04e4e;
	transform-origin: bottom center;
	transition:transform 0.25s ease-out;
}
.navbar .btn .login-button a:hover::after{
  transform: scaleX(1);
  transform-origin: bottom center;
}

nav .navbar .menu{
  display: flex;

}
nav .navbar .menu li{
  margin: 0 8px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
nav .navbar .menu li::after{
  content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0px;
  border-radius: 6px;
	left:0;
	background-color: #f04e4e;
	transform-origin: bottom center;
	transition:transform 0.25s ease-out;
}
nav .navbar .menu li:hover::after{
  transform: scaleX(1);
  transform-origin: bottom center;
}

nav .navbar .btn {
  list-style: none;
  display: flex;
  font-size: 18px;
  margin: 0 8px;
}
.btn li{
  margin:  0 8px;
}
.navbar .menu li{
  font-size: 18px;

  color: #0E2431;
  transition: all 0.3s ease;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar  a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

nav .menu-btn,
.navbar .cansel-btn{
  margin-top: 18px;
  position: absolute;
  color: #de1e1e;
  font-size: 20px;
  display: none;
}
nav .cancel-btn i{
  display:none;
}

nav .navbar .logo a{
  font-size: 40px;
  font-weight: 500;
  color:#25398e;
  text-decoration: none;
}
nav .navbar .logo .kcas-library{
  font-size: 28px;
  font-weight: 500;
  color:#25398e;
  text-decoration: none;
  padding-left: 8px;
}
nav .navbar .right{
  margin-right: -220px;
}
nav .navbar .right img{
  height: 100%;
width: 50%;
object-fit: cover;
margin-top: 5px;
cursor: pointer;
}
.title-services{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.title-services span{
  font-size: 43px;
  font-weight: 600;
padding-bottom: 8px;
  position: relative;
}
.title-services span::before,
.title-services span::after{
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 100%;
background:#25398e ;
}
.title-services span::after{
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}
.container section .content{
  width: 100%;
  margin: 10px auto 10px auto;
  font-family: 'Century Gothic' ;

}
.container section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 50px;
}
.container section .title span{
  font-size: 30px;
  font-weight: 600;
padding-bottom: 8px;
  position: relative;
  color: #25398e;
}
.container section .title span::before,
.container section .title span::after{
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 100%;
  background:#f04e4e;
}
.container section .title span::after{
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}
.container .adout .about-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .adout .about-details .right{
  width: 45%;
}
.container .adout .about-details .right img{
  height: 400px;
width: 400px;
object-fit: contain;
border-radius: 12px;
}
.container .adout .about-details .left{
  width: 55%;
  text-align: center;
}
.container section .topic{
font-size: 40px;
font-weight: 600;
color: #0E2431;
margin-bottom: 10px;
}
.container section .libr-tel{
    font-size: 30px;
    font-weight: 500;
    /* color: #0E2431; */
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;

}
.about-details .left p{
  color: #0E2431;
  text-align: justify;
}
.container section .button{
  margin: 14px 0;
}
.container section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 23px;
  font-weight: 400;
  background:#25398e;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid transparent;
  font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;

  transition: all 0.4s ease;
}
.container section .button button:hover{
  border-color:#25398e;
  background-color: #fff;
  color:#25398e;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:110px 20px;
}

.container .heading{
  font-size: 40px;
  margin-bottom: 20px;
  color:#334;
}

.container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap:25px;
}

.container .box-container .box{
  background-color: #fff;
  padding:20px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  display: none;
}
.select-menu{
  width: 374px;
  margin: 22px auto;
}
.select-menu .select-btn{
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 25px;
  transition: 0.3s;
}
.select-menu.active .select-btn i{
  transform: rotate(-180deg);
}
.select-menu .options{
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  display: none;
}
.select-menu.active .options{
  display: block;
}
.options .option{
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}
.options .option:hover{
  background: #F2F2F2;
}
.option i{
  font-size: 25px;
  margin-right: 12px;
}
.option .option-text{
  font-size: 18px;
  color: #333;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2),
.container .box-container .box:nth-child(3),
.container .box-container .box:nth-child(4),
.container .box-container .box:nth-child(5),
.container .box-container .box:nth-child(6),
.container .box-container .box:nth-child(7),
.container .box-container .box:nth-child(8),
.container .box-container .box:nth-child(9),
.container .box-container .box:nth-child(10),
.container .box-container .box:nth-child(11),
.container .box-container .box:nth-child(12){
  display: inline-block;
}

.container .box-container .box .image{
  margin-bottom: 20px;
  overflow: hidden;
  height: 250px;
  border-radius: 5px;
}

.container .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .box-container .box:hover .image img{
  transform: scale(1.1);
}

.container .box-container .box .content h3{
  font-size: 20px;
  color:#334;
}

.container .box-container .box .content p{
  font-size: 15px;
  color:#777;
  line-height: 2;
  padding:15px 0;
}
section .title-book{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title-book span{
  font-size: 30px;
  font-weight: 600;
padding-bottom: 8px;
  position: relative;
  color: #25398e;
}
section .title-book span::before,
section .title-book span::after{
content: '';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 100%;
  background:#f04e4e;
}
section .title-book span::after{
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7px;
}
.adout .about-details .left-book{
  width: 55%;
  font-size: 34px;
}

.box .content .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

}
  .container .box-container .box .content .btn{
    border-radius: 6px;
    display: inline-block;
    background: #25398e;
    padding:10px 30px;
   color: #ffffff;
    cursor: pointer;
    border: 2px solid transparent;
      font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;
    transition: all 0.4s ease;
    font-size: 16px;
}
button {
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
}


.container .box-container .box .content .btn:hover{
  border-color: #25398e;
  background-color: #fff;
  color: #25398e;
}

.container .box-container .box .content .icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top:1px solid #25398e;
}
input {
  padding: 10px 30px;
  margin-bottom: 20px;
  outline: none;
  border: 2px solid #25398e;
  border-radius: 6px;
  color: #25398e;
}
.container .box-container .box .content .icons .year{
  font-size: 14px;
  color:#777;
   font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;

}

.container .box-container .box .content .icons span {
  font-size: 14px;
  color:#777;
   font-family: 'Comfortaa', cursive;
font-family: 'Exo 2', sans-serif;

}

.container .box-container .box .content .icons span i{
  color:#25398e;
  padding-right: 5px;

}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 7px;
}

.pagination a.active {
  background-color: #25398e;
  color: white;
  border: 1px solid #25398e;
  border-radius: 7px;
  margin-top: 100px;
}
@media(max-width: 1000px){
  .notifications .toast{
    width: 489px;
  }
  .notifications{
    left: 51.3%;
    top: 31.3%;
  }
@media(max-width: 900px){
  
  .notifications .toast{
    width: 489px;
    
  }
  .notifications{
    left: 51.3%;
    top: 29.3%;
  }
  @media(max-width: 800px){
    .notifications .toast{
      width: 469px;
    }
    .notifications{
      left: 51.3%;
      top: 27.3%;
    }
  }
  @media(max-width: 584px){
    .container{
     max-width: 100%;
   }
   .notifications .toast{
     width: 350px;
   }
   .notifications{
     left:52.5%;
     top: 24.7%;
   }
  }
}
@media(max-width: 400px){
  .notifications{
    left:52.5%;
    top: 23%;
  }
  @media(max-width: 380px){
    .notifications{
      left:53%;
  top: 17%;
    }

}}
}




@media(max-width: 990px){
  .container section .title{
    margin-top: 50px;
  }
  }

@media(max-width: 600px){
  .container .adout .about-details .left{
    width: 90%;
  }
  }
.pagination a:hover:not(.active) {background-color: #ddd;}
@media(max-width: 1005px){
  .adout .about-details .left-book {
    width: 55%;
    font-size: 20px;
    margin-bottom: 30px;
}


}
@media(max-width: 1000px){
    .navbar .menu .golovna{
      font-size: 25px;
      color: #25398e;
    }
    .navbar .btn .login-button a:hover{
      color: black;
    }
  
nav .navbar .menu{
  position: absolute;
  left: -100%;
  top: 0;
  height: 100vh;
  max-width: 400px;
  width: 100%;
  background: #fff; 
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  transition: all 0.6s ease;
}
nav .navbar.active .menu{
  left:0;
}
nav .navbar .btn {
  position: absolute;
  max-width: 385px;
  width: 100%;
  left: -100%;
  top: 0;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  transition: all 0.6s ease;
}
nav .navbar.active .btn{
  left: 0;
}
.header-button{
  margin: 10 8px;
}

.navbar .menu  li a{
  display: block;
  margin: 10px 0;
  font-size: 23px;
  color: #fff;
}

.navbar .btn a{
 font-size: 23px;
 display: block;
 margin: 6px;
 color: #ffffff;
}
    .navbar .btn a{
      font-size: 23px;
      display: block;
      margin: 6px;
      color:#fff;
    }
    .navbar .btn a:hover{
      color: #fff;
    }
nav .menu-btn,
.navbar .cancel-btn{
  position: absolute;
  font-size: 20px;
  right: 30px;
  top:14px;
  cursor: pointer;
}

nav .navbar .cancel-btn{
  position: absolute;
  color: rgb(16, 12, 12);
  font-size: 20px;
  right: 30px;
  top:200px;
  cursor: pointer;
}
    nav .menu-btn{
      color: #25398e;
    }
    nav .menu-btn,
    .navbar .cansel-btn{
      display: block;
      top: 21px;
    }
    nav .cancel-btn i{
      display:block;
    }
    .home .text .text-two{
      font-size: 65px;

    }
    .home .text .text-three{
      font-size: 30px;
    }
    nav .navbar .logo a{
      
      font-size: 33px;
    }
    nav .navbar .logo .kcas-library{
      padding-right: 640px;
    }
    @media(max-width:994px){
      nav .navbar .logo .kcas-library{
        padding-right: 600px;
      }
    }
    
    @media(max-width:956px){
      nav .navbar .logo .kcas-library{
        padding-right: 550px;
      }
      nav .navbar .right img {
        height: 100%;
        width: 50%;
        object-fit: cover;
    }
    }
    @media(max-width:945px){
      nav .navbar .logo .kcas-library{
        padding-right: 500px;
      }
    }
    @media(max-width:889px){
      nav .navbar .logo .kcas-library{
        padding-right: 450px;
      }
    }
    @media(max-width:834px){
      nav .navbar .logo .kcas-library{
        padding-right: 400px;
      }
    }
    @media(max-width:776px){
      nav .navbar .logo .kcas-library{
        padding-right: 350px;
      }
    }
    @media(max-width:722px){
      nav .navbar .logo .kcas-library{
        padding-right: 300px;
      }
    }
    @media(max-width:667px){
      nav .navbar .logo .kcas-library{
        padding-right: 250px;
      }
    }
    @media(max-width:609px){
      nav .navbar .logo .kcas-library{
        padding-right: 200px;
      }
    }
    @media(max-width:549px){
      nav .navbar .logo .kcas-library{
        padding-right: 150px;
      }
    }
    @media(max-width:496px){
      nav .navbar .logo .kcas-library{
        padding-right: 70px;
      }
      .container .box-container .box .content .btn{
        border: none;
        padding: 10px 20px;
      }
    }
    @media(max-width:440px){
      nav .navbar .logo .kcas-library{
        padding-right: 70px;
      }
    }
    @media(max-width:408px){
      nav .navbar .logo .kcas-library{
        padding-right: 50px;
      }
    }
    @media(max-width:385px){
      nav .navbar .logo .kcas-library{
        padding-right: 30px;
      }
    }
  
  }
  @media (max-width: 973px){
    section .title-book {
      margin-top: 40px;
  }
  }
  
   @media(max-width:398px){
      .container .box-container .box .content .btn{
        border: none;
        padding: 10px 20px;
      }

    }
  @media(max-width:885px){
      .skills .skills-details{
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  }
  @media(max-width: 416px){
   .select-menu{
    width: 354px;

   }
  }

  @media(max-width: 647px){
    .home .text .text-two{
      font-size: 55px;

      }
      .home .text .text-three{
      font-size: 25px;
      }
      .skills .skills-details .left{
        width: 90%;
        }
        .skills .skills-details .boxes{
          width: 90%;
          margin: 40px 0;
        }
  }