<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/addbook.css" type="text/css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Додавання книги</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/gears_motor.gif" alt="">
        </div>
        <span class="logo_name">KIpTLibrary</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a th:href="@{/admin}">
                <i class="uil uil-estate"></i>
                <span class="link-name">Головна</span>
            </a></li>
            <li><a th:href="@{/allusers}">
                <i class="uil uil-users-alt"></i>
                <span class="link-name" >Користувачі</span>
            </a></li>
            <li><a th:href="@{/allbooksadmin}">
                <i class="uil uil-notebooks"></i>
                <span class="link-name">Всі книги</span>
            </a></li>
            <li><a th:href="@{/assignedbooks}">
                <i class="uil uil-books"></i>
                <span class="link-name">Видані книги</span>
            </a></li>

            <li><a th:href="@{/addbook}">
                <i class="uil uil-plus"></i>
                <span class="link-name">Додати книгу</span>
            </a></li>
            <li><a th:href="@{/adduser}">
                <i class="uil uil-user-plus"></i>
                <span class="link-name">Додати користувача</span>
            </a></li>
            <li><a th:href="@{/takebook}">
                <i class="uil uil-plus-circle"></i>
                <span class="link-name">Видати книгу</span>
            </a></li>

        </ul>

        <ul class="logout-mode">
            <li><a th:href="@{/logout}">
                <i class="uil uil-signout"></i>
                <span class="link-name">Вийти</span>
            </a></li>
            <div class="mode-toggle">

            </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">

        </div>

        <img src="images/webview.gif" alt="">
    </div>

    <div class="dash-content">

        <div class="container">
            <div class="title"><span>Додавання книги</span></div>
            <div class="content">
                <form method="post" th:action="@{/book_adding}" th:object="${book}" enctype="multipart/form-data">
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details">Id qr-коду</span>
                            <input type="text" th:field="*{qrid}" placeholder="Ведіть Id qr-коду" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Назва</span>
                            <input type="text" th:field="*{title}" placeholder="Введіть назву" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Автор</span>
                            <input type="text" th:field="*{author}" placeholder="Ведіть автора" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Рік</span>
                            <input type="text" th:field="*{year}" placeholder="Введіть рік" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Стилаж</span>
                            <input type="text" th:field="*{stilaj}" placeholder="Введіть стилаж" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Полиця</span>
                            <input type="text" th:field="*{polka}" placeholder="Введіть номер полиці" required>
                        </div>
                        <div class="v"><label>Додайте зображення</label><input type="file" name="photo"></div>
                    </div>
                    <div class="button">
                        <button type="submit">Додати</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    </div>
</section>

<script src="js/script.js"></script>
</body>
</html>