<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Головна</title>
	<link href="/css/allbook.css" type="text/css" rel="stylesheet" th:href="@{/css/allbook.css}">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
	<div class="title-services"><span>Бібліотека</span></div>
	<form th:action="@{/searchbook}" method="get">
		<input type="text" name="keyword" th:value="${keyword}"  placeholder="Пошук" size="25" >
		<button type="submit" style="background-color: #25398e; " class="uil-search"></button>
	</form>
	<div class="select-menu" >
		<div class="select-btn" th:field="*{bookcategories}" onchange="window.location.href=this.value;">
			<span class="sBtn-text">Оберіть категорію</span>
			<i class="bx bx-chevron-down"></i>
		</div>
		<ul class="options">
			<li class="option">
				<i class="bx bxs-book" style="color: #25398e;"></i>
				<span class="option-text"><a  th:href="@{/allbooks(size=${books.size}, page=${pageNumber})}" th:text="${'Всі книги'}"></a></span>
			</li>
			<li class="option"  th:each="category : ${bookcategories} ">
				<i class="bx bxs-book" style="color: #25398e;"></i>
				<span class="option-text"><a th:href="@{/allbooks(size=${books.size}, page=${pageNumber},category=${category.name})}" th:text="${category.name}"></a></span>
			</li>
		</ul>
	</div>
	<div class="box-container" >
		<div class="box" th:each="book, iStat : ${books}">
			<div class="image">
				<img  class="rounded-5 mb-5 mt-5" style="width: 100%" th:src="@{'data:image/png;base64,' + ${book.getBookimgconv()} }" />
			</div>
			<div class="content">
				<h3 th:text="${book.title}"></h3>
				<p th:text="${'Автор: '+book.author}">Автор: Тарас Шевченко</p>
				<div class="button">
					<a th:href="'/allbooks/'+ ${book.id}" class="btn">Детальніше</a>
					<div >
						<div th:if="${likedbooks.contains(book)}">
							<form th:action="'/likingbook/'+ ${book.id} + '/deletebyuser'" method="post">
								<button class="btn" type="submit">
									<div class="icon-trash">
										<div class="delete-favorite">
										<iconify-icon  icon="uil:trash-alt"></iconify-icon>
										</div>
										<div class="text-favorite"><a>з улюбленого</a></div>
									</div>
								</button>
							</form>
						</div>
						<div th:if="${!likedbooks.contains(book)}">
							<form th:action="'/likingbook/'+ ${book.id}" method="post">
								<button class="btn" type="submit">В улюблене</button>
							</form>
						</div>
					</div>
				</div>
				<div class="icons">
					<span > <i class="fas fa-calendar"></i><a th:text="${' '+book.year}"></a></span>
					<span > <i class="fas fa-user"></i><a th:text="${' '+book.author}"></a></span>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${books.totalPages > 0}" class="pagination" th:each="pageNumber : ${body}">

<!--		<a th:href="@{/allbooks(size=${books.size}, page=${pageNumber},category=${currentcategory})}" th:text="${pageNumber}" th:class="${pageNumber==books.number + 1} ? active"></a>-->


		<div th:if="${pageNumberStat.first}" class="page-item">
			<a th:href="@{/allbooks(size=${books.size}, page=${pageNumber},category=${currentcategory})}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</div>
		<div class="page-item active" th:if="${pageNumber} == ${books.getNumber()+1}">
			<a th:text="${pageNumber}" href="#"></a>
		</div>
		<div class="page-item disabled" th:if="${pageNumber} == -1">
			<a href="#">...</a>
		</div>
		<div class="page-item" th:if="${pageNumber} != -1 and ${pageNumber} != ${books.getNumber()+1}">
			<a th:text="${pageNumber}" th:href="@{/allbooks(size=${books.size}, page=${pageNumber},category=${currentcategory})}"></a>
		</div>
		<div th:if="${pageNumberStat.last}" class="page-item"  aria-label="Next">
			<a th:href="@{/allbooks(size=${books.size}, page=${pageNumber},category=${currentcategory})}">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</div>

	</div>

</div>
<script src="/js/select.js"></script>
</body>
</html>