<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Всі книги</title>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style-login.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
		<link rel="stylesheet" href="/css/allbook.css" type="text/css" th:href="@{/css/allbook.css}">
		<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
	</head>
<body>
<div class="container">
	<div class="title-services"><span>Бібліотека</span></div>
	<div class="box-container" >
		<div class="box" th:each="book : ${books}">
			<div class="image">
				<img  class="rounded-5 mb-5 mt-5" style="width: 100%" th:src="@{'data:image/png;base64,' + ${book.getBookimgconv()} }" />
			</div>
			<div class="content">
				<h3 th:text="${book.title}"></h3>
				<p th:text="${'Автор: '+book.author}">Автор: Тарас Шевченко</p>
				<div class="button">
					<a th:href="'/allbooks/'+ ${book.id}" class="btn">Детальніше</a>
					<form th:action="'/likingbook/'+ ${book.id}" method="post">
						<button class="btn" type="submit">В улюблене</button>
					</form>
				</div>
				<div class="icons">
					<span > <i class="fas fa-calendar" th:text="${' '+book.year}"></i></span>
					<span > <i class="fas fa-user" th:text="${' '+book.author}"></i></span>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/js/slider.js"></script>
</body>
</html>