<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Денальніше</title>
    <link href="/css/book-details.css" type="text/css" rel="stylesheet" th:href="@{/css/book-details.css}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
    <section class="adout">
        <div class="content" th:each="book : ${bookd}">
            <div class="title"><span  th:text="${book.title}"></span></div>
            <div class="about-details">
                <div class="right">
                    <img th:src="@{'/qrcode/image/' + ${book.getId()}}" >
                </div>
                <div class="left">
                    <div class="topic"  th:text="${'Qr-код: '+book.qrid}"></div>
                    <div class="topic" th:text="${'Автор: '+book.author}"></div>
                    <div class="topic" th:text="${'Рік: '+book.year}"></div>
                    <div class="topic"th:text="${'Наявність: '+book.count+' штук'}"></div>
                    <div th:if="${book.description!=null}">
                        <p th:text="${'Опис: '+book.description}"></p>
                    </div>
                    <form action="/allbooks">
                        <div class="button">
                            <button>Назад</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
</div>
<a href="https://app.service.utog.org/"><span class="btnServiceUTOG"></span></a>
<script src="/js/select.js"></script>
</body>
</html>