<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/addbook.css" type="text/css">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <title>Редагування книги</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/gears_motor.gif" alt="">
        </div>
        <span class="logo_name">НТБ КНУТД</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a th:href="@{/admin}">
                <i class="uil uil-estate"></i>
                <span class="link-name">Головна</span>
            </a></li>
            <li><a th:href="@{/admin/allusers}">
                <i class="uil uil-users-alt"></i>
                <span class="link-name" >Користувачі</span>
            </a></li>
            <li><a th:href="@{/admin/allbooksadmin}">
                <i class="uil uil-notebooks"></i>
                <span class="link-name">Всі книги</span>
            </a></li>
            <li><a th:href="@{/admin/assignedbooks}">
                <i class="uil uil-books"></i>
                <span class="link-name">Видані книги</span>
            </a></li>

            <li><a th:href="@{/admin/addbook}">
                <i class="uil uil-plus"></i>
                <span class="link-name">Додати книгу</span>
            </a></li>
            <li><a th:href="@{/admin/adduser}">
                <i class="uil uil-user-plus"></i>
                <span class="link-name">Додати користувача</span>
            </a></li>
            <li><a th:href="@{/admin/takebook}">
                <i class="uil uil-plus-circle"></i>
                <span class="link-name">Видати книгу</span>
            </a></li>
            <li><a th:href="@{/admin/addbookcategory}">
                <i class="uil uil-plus-circle"></i>
                <span class="link-name">Категорії книг</span>
            </a></li>

        </ul>

        <ul class="logout-mode">
            <li><a th:href="@{/logout}">
                <i class="uil uil-signout"></i>
                <span class="link-name">Вийти</span>
            </a></li>
            <div class="mode-toggle">

            </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">

        </div>

        <img src="images/webview.gif" alt="">
    </div>

    <div class="dash-content">

        <div class="container">
            <div class="title"><span>Редагування книги</span></div>
            <div class="content">
                <form method="post" enctype="multipart/form-data">
                    <div class="user-details" th:each="bookd : ${bookd}">
                        <div class="input-box">
                            <span class="details">Id qr-коду</span>
                            <input type="text" th:value="${bookd.qrid}" name="qrid" placeholder="Ведіть Id qr-коду" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Назва</span>
                            <input type="text" th:value="${bookd.title}" name="title" placeholder="Введіть назву" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Автор</span>
                            <input type="text" th:value="${bookd.author}" name="author" placeholder="Ведіть автора" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Рік</span>
                            <input type="text" th:value="${bookd.year}" name="year" placeholder="Введіть рік" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Стилаж</span>
                            <input type="text" th:value="${bookd.stilaj}" name="stilaj" placeholder="Введіть стилаж" required>
                        </div>
                        <div class="input-box">
                            <span class="details">Полиця</span>
                            <input type="text" th:value="${bookd.polka}" name="polka" placeholder="Введіть номер полиці" required>
                        </div>

                        <textarea th:text="${bookd.getDescription()}" name="description" placeholder="Опис книги" required rows="6" ></textarea>

                        <div class="v"><label>Додайте зображення</label><input type="file" name="files" accept="image/*"></div>

                        <div class="v"><label>Додайте файл книги</label><input type="file" name="files" accept="application/pdf"></div>

                        <input type="text" th:value="${bookd.bookfileurl}" name="bookfileurl" placeholder="URL до книги">

                        <input type="number" th:value="${bookd.count}" name="count" placeholder="Кількість книг" >
                    </div>
                    <div class="button">
                        <button type="submit">Зберегти</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    </div>
</section>

<script src="script/script.js"></script>
</body>
</html>