
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <title th:text="#{consuccess.title}">Ваш email підтверджено</title>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link href="/css/reg.css" type="text/css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
  <div class="content">
    <div class="user-details">
      <div class="ic"><i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class="title"><p th:text="#{consuccess.title}"></p></div>
      <form  th:action="@{/login}">
        <div class="option_div"></div>
        <div class="input_box button1">
          <input type="submit" th:value="#{consuccess.button}">
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/slider.js"></script>
</body>
</html>
