
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link href="/css/reg.css" type="text/css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
  <div class="content">
    <form >
      <div class="user-details">
        <div class="ic"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="title"><span>Ваш email підтверджено</span></div>
        <form  th:action="@{/login}" >
          <p>Вітаємо зі створенням акаунту</p>
          <div class="option_div">
          </div>
          <div class="input_box button">
            <button type="submit">Натисніть для входу</button>
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
<script src="/js/slider.js"></script>
</body>
</html>
