<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link href="/css/editprofile.css" type="text/css" rel="stylesheet" th:href="@{/css/editprofile.css}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
    <div class="pop_up" id="pop_up">
        <div class="pop_up_container">
            <div class="pop_up_body" id="pop_up_body">
                <p>Зміна паролю</p>
                <form th:action="@{/editprofile/changepassword}" method="post">
                    <input name="currentpassword" type="password" placeholder="Старий пароль">
                    <input name="newpassword" type="password" placeholder="Новий пароль">
                    <input name="confirmnewpassword" type="password" placeholder="Підтвердіть пароль">
                    <button class="">Зберегти</button>
                </form>
                <div class="pop_up_close" id="pop_up_close">&#10006</div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="adout" id="adout">
        <div class="content">
            <form th:action="@{/editprofile/save}"  method="post" enctype="multipart/form-data">
            <div class="about-details">
                <div class="right">
                    <div class="user-info-img">
                        <img th:if="${user.getProfileimage()==null}" src="/images/book.jpg">
                        <img th:if="${user.getProfileimage()!=null}" th:src="@{'profile/image'}">
                    </div>
                    <div class="v">
                        <label>
                            <iconify-icon icon="material-symbols:add-a-photo-outline" style="color: #25398e;"></iconify-icon>
                            Редагувати зображення
                        </label>
                        <input type="file" name="imgfile" accept="image/*">
                    </div>
                </div>
                <div class="left">
                    <div th:if="${param.error}" class="title">
                        <p>Внесіть всі данні</p>
                    </div>
                    <div th:if="${param.passchanged}" class="title">
                        <p>Пароль змінено</p>
                    </div>
                    <div th:if="${param.notmatch}" class="title">
                        <p>Нові паролі не співпадають</p>
                    </div>
                    <div th:if="${param.currentnotmatch}" class="title">
                        <p>Старий пароль не вірний</p>
                    </div>
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input th:value="${user.getEmail()}" type="text" name="email" placeholder="Введіть email" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Пароль</span>
                                <a href=""  id="open"><input th:value="${'Змінити пароль'}" type="text"  name="password" placeholder="Введіть пароль" required></a>
                            </div>
                            <div class="input-box">
                                <span class="details">Ім'я</span>
                                <input th:value="${user.getFirstName()}" type="text" name="firstname" placeholder="Введіть ім'я" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Прізвище</span>
                                <input th:value="${user.getLastName()}" type="text" name="lastname" placeholder="Введіть прізвище" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Група</span>
					            <div class="categor">
					            <select th:name="groupid">
					            	<option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getName()}" th:selected="${group==user.groups}"></option>
					            </select>
					            </div>
                            </div>
                            <div class="input-box">
                                <span class="details">Дата народження</span>
                                <input th:value="${user.getBirthday()}" type="date"  min="1950-01-01" max="2015-12-31" name="birthday" placeholder="Введіть дату народження" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Домашня адреса</span>
                                <input th:value="${user.getAddress()}" type="text" name="address" placeholder="Введіть домашню адресу" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Телефон</span>
                                <input th:value="${user.getPhonenum()}" type="text" name="phonenum" placeholder="Введіть номер телефону" required>
                            </div>
                        </div>
                        <div class="button">
                            <button type="submit">Зберегти</button>
                        </div>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>
    <script src="/js/pass.js"></script>
<script src="/js/slider.js"></script>
</body>
</html>