<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <!---- <title> Login Form | CodingLab </title>--->
  <link href="/css/login.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
</head>
<body>
<div class="main_div">
  <div class="title"><span>Вхід</span></div>
  <form  method="post" action="/login">
    <div class="input_box">
      <input type="email" id="email" name="email" placeholder="Email" required minlength="2">
      <div class="icon"><i class="fas fa-user"></i></div>
    </div>
    <div class="input_box">
      <input type="password" id="password" name="password" placeholder="Пароль"required minlength="6">
      <div class="icon"><i class="fas fa-lock"></i></div>
    </div>
    <div class="option_div">
    </div>
    <div class="input_box button">
      <input type="submit" value="Вхід">
    </div>
    <div class="sign_up">
      Нема акаунту? <a th:href="@{/register}">Зареєструватися</a>
    </div>
  </form>
</div>
<script src="/js/slider.js"></script>
</body>
</html>