<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мої книги</title>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style-login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="/css/allbook.css" type="text/css" th:href="@{/css/allbook.css}">
        <header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
    </head>
<body>
<div class="container">
    <div class="title-services"><span>Улюблені</span></div>
    <div class="box-container" >
        <div class="box" th:each="likedbook : ${likedbooks}">
            <div class="image">
                <img  class="rounded-5 mb-5 mt-5" style="width: 100%" th:src="@{'data:image/png;base64,' + ${likedbook.getBook().getBookimgconv()} }" />
            </div>
            <div class="content">
                <h3 th:text="${likedbook.getBook().getTitle()}"></h3>
                <p th:text="${'Автор: '+likedbook.getBook().getAuthor()}"></p>
                <div class="button">
                    <a th:href="'/allbooks/'+ ${likedbook.getBook().getId()}" class="btn">Детальніше</a>
                    <form th:action="'/myfavouritebooks/'+ ${likedbook.getId()}+'/remove'" method="post">
                            <button class="btn" type="submit">Видалити</button>
                    </form>
                </div>
                <div class="icons">
                    <span > <i class="fas fa-calendar" th:text="${' '+likedbook.getBook().getYear()}"></i></span>
                    <span > <i class="fa fa-id-card-o" th:text="${' Додана '+likedbook.getAddedat()}"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/slider.js"></script>
</body>
</html>