<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{mybooks.title}">Мої книги</title>
    <link href="/css/allbook.css" type="text/css" rel="stylesheet" th:href="@{/css/allbook.css}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
    <div class="title-services"><span th:text="#{mybooks.title}">Мої книги</span></div>
    <div class="box-container" >
        <div class="box" th:each="takenbook : ${takenbooks}">
            <div class="image">
                <img  class="rounded-5 mb-5 mt-5" style="width: 100%" th:src="@{'/book/image/' + ${takenbook.getBook().getId()}}" />
            </div>
            <div class="content">
                <h3 th:text="${takenbook.getBook().getTitle()}"></h3>
                <p th:text="#{mybooks.topic1}+${takenbook.getBook().getAuthor()}"></p>
                <div class="button">
                    <a th:href="'/allbooks/'+ ${takenbook.getBook().getId()}" class="btn" th:text="#{mybooks.button1}">Детальніше</a>
                    <div th:if="${takenbook.getBook().isElectronic() and takenbook.getBook().getBookfileurl().isEmpty()}">
                        <form th:action="'/readBook'" method="post">
                            <input name="bookId" th:value="${takenbook.getBook().getId()}" hidden>
                            <button class="btn" th:title="#{mybooks.button2}" type="submit" th:text="#{mybooks.button2}"><i>Переглянути</i></button>
                        </form>
                    </div>
                    <div th:if="${takenbook.getBook().isElectronic() and !takenbook.getBook().getBookfileurl().isEmpty()}">
                        <a th:href="${takenbook.getBook().getBookfileurl()}" class="btn" th:text="#{mybooks.button2}">Переглянути</a>
                    </div>
                </div>
                <div class="icons">
                    <span > <i class="fas fa-calendar" ></i><a  class="year" th:text="${' '+takenbook.getBook().getYear()}"></a></span>
                    <span > <i class="fa fa-id-card-o" ></i><a class="dataa" th:text="#{mybooks.topic2}+${takenbook.getTakenat()}"></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="https://app.service.utog.org/"><span class="btnServiceUTOG"></span></a>
<script src="/js/slider.js"></script>
</body>
</html>