<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <title th:text="#{resetpass.title}"></title>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link href="/css/reg.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Font Awesome CDN link for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
    <!-- Font Awesome CDN link for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
    <div class="title"><span th:text="#{resetpass.input}"></span></div>
    <div class="content">

        <form method="post" th:action="@{/resetpassword/reset}">
            <div class="user-details">
                <div class="input-box">
                    <span class="details"> </span>
                    <input type="password" name="newpassword"  class="form-control" th:placeholder="#{resetpass.input}" required minlength="3">
                    <div class="icon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></div>
                </div>
                <div class="input-box">
                    <span class="details"> </span>
                    <input type="password" name="confirmnewpassword"  class="form-control" th:placeholder="#{resetpass.input2}" required minlength="3">
                    <div class="icon"><i class="fa fa-unlock" aria-hidden="true"></i></div>
                </div>
                <input type="hidden" th:value="${token}" name="token">
                <div class="input_box button">
                    <button type="submit" th:text="#{resetpass.button}"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<ul th:if="${param.notmatch}" class="notifications"  id="message">
    <li class="toast error">
        <div class="column" >
            <i class="fa-solid fa-circle-xmark"></i>
            <span th:text="#{resetpass.param.notmatch}"></span>
        </div>
        <i class="fa-solid fa-xmark"></i>
    </li>
</ul>
<script src="/js/alert_script.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/script.js"></script>
<script src="/js/slider.js"></script>

</body>
</html>