<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
	<title th:text="#{register.title}">Реєстрація</title>
	<meta charset="UTF-8">
	<!---<title> Responsive Registration Form | CodingLab </title>--->

	<link href="/css/login.css" type="text/css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	 <!-- Font Awesome CDN link for icons -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	 <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
	 <!-- Font Awesome CDN link for icons -->
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	 <link rel="preconnect" href="https://fonts.googleapis.com">
	 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	 <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
	<div class="title"><span th:text="#{register.title}">Реєстрація</span></div>
	<div class="content">
		<form method="post" action="/login" th:action="@{/process_register}" th:object="${user}">
			<div class="user-details">
				<div class="input-box">
					<span class="details" th:text="#{register.input1}">Email</span>
					<input type="email"  class="form-control" th:field="*{email}" th:placeholder="#{register.input1}" required minlength="3">
				</div>
				<div class="input-box">
					<span class="details" th:text="#{register.input2}">Пароль</span>
					<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{register.input2}" required minlength="6">
				</div>
				<div class="input-box">
					<span class="details" th:text="#{register.input3}">Ваше ім'я</span>
					<input type="text"   class="form-control" th:field="*{firstName}" th:placeholder="#{register.input3}" required minlength="2">
				</div>
				<div class="input-box">
					<span class="details" th:text="#{register.input4}">Прізвище</span>
					<input type="text" class="form-control" th:field="*{lastName}" th:placeholder="#{register.input4}" required minlength="2">
				</div>
				<div class="input-box">
					<span class="details" th:text="#{register.input5}">Телефон</span>
					<input type="tel" class="form-control " th:field="*{phonenum}" th:placeholder="#{register.input5}" required minlength="10" maxlength="13">
				</div>
				<div class="input-box">
					<span class="details" th:text="#{register.input6}">Група</span>
					<div class="categor">
					<select th:name="groupid">
						<option th:value="${''}" th:text="#{register.noGroupOption}"></option>
						<option th:each="group : ${groups}" th:value="${group.getId()}" th:text="${group.getName()}"></option>
					</select>
					</div>
				</div>
			</div>
			<div class="button">
				<button type="submit" th:text="#{register.button1}">Зареєструватися</button>
			</div>
		</form>
	</div>
</div>
<ul th:if="${param.expired}" class="notifications"  id="message">
	<li class="toast warning">
		<div class="column" >
			<i class="fa-solid fa-triangle-exclamation"></i>
			<span th:text="#{register.param.expired}"></span>
		</div>
		<i class="fa-solid fa-xmark"></i>
	</li>
</ul>
<ul th:if="${param.notfound}" class="notifications"  id="message">
	<li class="toast warning">
		<div class="column" >
			<i class="fa-solid fa-triangle-exclamation"></i>
			<span th:text="#{user.not.found}"></span>
		</div>
		<i class="fa-solid fa-xmark"></i>
	</li>
</ul>

<script src="/js/alert_script.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/script.js"></script>
</body>
</html>