<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<!---<title> Responsive Registration Form | CodingLab </title>--->

	<link href="/css/login.css" type="text/css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
<body>
<div class="container">
	<div class="title"><span>Реєстрація</span></div>
	<div class="content">
		<form method="post" action="/login" th:action="@{/process_register}" th:object="${user}">
			<div class="user-details">
				<div class="input-box">
					<span class="details">Email</span>
					<input type="email"  class="form-control" th:field="*{email}" placeholder="E-mail" required minlength="3">
				</div>
				<div class="input-box">
					<span class="details">Пароль</span>
					<input type="password" class="form-control" th:field="*{password}" placeholder="Пароль" required minlength="6">
				</div>
				<div class="input-box">
					<span class="details">Ваше ім'я</span>
					<input type="text"   class="form-control" th:field="*{firstName}" placeholder="Ім'я" required minlength="2">
				</div>
				<div class="input-box">
					<span class="details">Прізвище</span>
					<input type="text" class="form-control" th:field="*{lastName}" placeholder="Прізвище" required minlength="2">
				</div>
				<div class="input-box">
					<span class="details">Телефон</span>
					<input type="tel" class="form-control " th:field="*{phonenum}" placeholder="Телефон" required minlength="10" maxlength="13">
				</div>
				<div class="input-box">
					<span class="details">Група</span>
					<input type="text" class="form-control" th:field="*{groups}" placeholder="Група" required minlength="3" maxlength="3">
				</div>
			</div>
			<div class="button">
				<button type="submit">Зареєструватися</button>
			</div>
		</form>
	</div>
</div>
<script src="/js/slider.js"></script>
</body>
</html>