<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---- CSS  -->

    <link rel="stylesheet" href="/css/takebook.css" type="text/css">
    <!---- Iconscout CSS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Видати книгу</title>
</head>
<body>
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="images/gears_motor.gif" alt="">
        </div>
        <span class="logo_name">НТБ КНУТД</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a th:href="@{/admin}">
                <i class="uil uil-estate"></i>
                <span class="link-name">Головна</span>
            </a></li>
            <li><a th:href="@{/admin/allusers}">
                <i class="uil uil-users-alt"></i>
                <span class="link-name" >Користувачі</span>
            </a></li>
            <li><a th:href="@{/admin/allbooksadmin}">
                <i class="uil uil-notebooks"></i>
                <span class="link-name">Всі книги</span>
            </a></li>
            <li><a th:href="@{/admin/assignedbooks}">
                <i class="uil uil-books"></i>
                <span class="link-name">Видані книги</span>
            </a></li>

            <li><a th:href="@{/admin/addbook}">
                <i class="uil uil-plus"></i>
                <span class="link-name">Додати книгу</span>
            </a></li>
            <li><a th:href="@{/admin/adduser}">
                <i class="uil uil-user-plus"></i>
                <span class="link-name">Додати користувача</span>
            </a></li>
            <li><a th:href="@{/admin/takebook}">
                <i class="uil uil-plus-circle"></i>
                <span class="link-name">Видати книгу</span>
            </a></li>
            <li><a th:href="@{/admin/addbookcategory}">
                <i class="uil uil-plus-circle"></i>
                <span class="link-name">Категорії книг</span>
            </a></li>

        </ul>

        <ul class="logout-mode">
            <li><a th:href="@{/logout}">
                <i class="uil uil-signout"></i>
                <span class="link-name">Вийти</span>
            </a></li>
            <div class="mode-toggle">

            </div>
            </li>
        </ul>
    </div>
</nav>
<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">

        </div>

        <img src="images/webview.gif" alt="">
    </div>

    <div class="dash-content">
        <div class="activity">
            <div class="title">
                <i class="uil uil-users-alt"></i>
                <span class="text">Оберіть користувача</span>
                <form th:action="@{/searchusertakebook}" method="get">
                    <input type="text" name="keyword" th:value="${keyword}"  placeholder="Пошук" size="50" >
                    <button type="submit" style="background-color: #fb9300; " class="uil-search"></button>
                </form>
            </div>
            <div class="table">

                <div class="table_section">
                    <table>
                        <thead>
                        <tr>
                            <th>Група</th>
                            <th>І'мя</th>
                            <th>Прізвище</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.groups}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.phonenum}"></td>
                            <td class="btnactions">
                                <form th:action="'/admin/takebook/'+${user.id}" method="get">
                                    <button style="background-color: #58A9A5" type="submit"><i class="uil uil-user-check"> Обрати</i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="js/script.js"></script>
</body>
</html>