<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мої книги</title>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style-login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="stylesheet" href="/css/allbook.css" type="text/css" th:href="@{/css/allbook.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
        <header class="site-header sticky-top py-1" th:insert="bloks/header :: header"></header>
    </head>
<body>
<div class="container">
    <div class="title-services"><span>Мої книги</span></div>
    <div class="box-container" >
        <div class="box" th:each="takenbook : ${takenbooks}">
            <div class="image">
                <img  class="rounded-5 mb-5 mt-5" style="width: 100%" th:src="@{'data:image/png;base64,' + ${takenbook.getBook().getBookimgconv()} }" />
            </div>
            <div class="content">
                <h3 th:text="${takenbook.getBook().getTitle()}"></h3>
                <p th:text="${'Автор: '+takenbook.getBook().getAuthor()}"></p>
                <div class="button">
                    <a th:href="'/allbooks/'+ ${takenbook.getBook().getId()}" class="btn">Детальніше</a>
                    <div th:if="${takenbook.getBook().getBookfileurl()=='' && takenbook.getBook().getBookfile()!=null}">
                        <a th:href="'/allbooks/'+ ${takenbook.getBook().getId()} +'/ebook'" class="btn">Переглянути</a>
                    </div>
                    <div th:if="${takenbook.getBook().getBookfileurl()!='' && takenbook.getBook().getBookfile()==null}">
                        <a th:href="${takenbook.getBook().getBookfileurl()}" class="btn">Переглянути</a>
                    </div>
                </div>
                <div class="icons">
                    <span > <i class="fas fa-calendar" ></i><a  class="year" th:text="${' '+takenbook.getBook().getYear()}"></a></span>
                    <span > <i class="fa fa-id-card-o" ></i><a class="dataa" th:text="${' Видана '+takenbook.getTakenat()}"></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/slider.js"></script>
</body>
</html>