<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/allbookadmin.css" type="text/css" th:href="@{/css/allbookadmin.css}">

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>Всі книги</title>
</head>
<body>
<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="images/gears_motor.gif" alt="">
    </div>
    <span class="logo_name">KIpTLibrary</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li><a th:href="@{/admin}">
        <i class="uil uil-estate"></i>
        <span class="link-name">Головна</span>
      </a></li>
      <li><a th:href="@{/allusers}">
        <i class="uil uil-users-alt"></i>
        <span class="link-name" >Користувачі</span>
      </a></li>
      <li><a th:href="@{/allbooksadmin}">
        <i class="uil uil-notebooks"></i>
        <span class="link-name">Всі книги</span>
      </a></li>
      <li><a th:href="@{/assignedbooks}">
        <i class="uil uil-books"></i>
        <span class="link-name">Видані книги</span>
      </a></li>

      <li><a th:href="@{/addbook}">
        <i class="uil uil-plus"></i>
        <span class="link-name">Додати книгу</span>
      </a></li>
      <li><a th:href="@{/adduser}">
        <i class="uil uil-user-plus"></i>
        <span class="link-name">Додати користувача</span>
      </a></li>
      <li><a th:href="@{/takebook}">
        <i class="uil uil-plus-circle"></i>
        <span class="link-name">Видати книгу</span>
      </a></li>

    </ul>

    <ul class="logout-mode">
      <li><a th:href="@{/logout}">
        <i class="uil uil-signout"></i>
        <span class="link-name">Вийти</span>
      </a></li>
      <div class="mode-toggle">

      </div>
      </li>
    </ul>
  </div>
</nav>

<section class="dashboard" >
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>

    <div class="search-box">

    </div>

    <img src="images/webview.gif" alt="">
  </div>

  <div class="dash-content" >
    <div class="activity">
      <div class="title">
        <i class="uil uil-notebooks"></i>
        <span th:text="${'Книги '+user.getLastName()+' '+user.getFirstName() }" class="text"> </span>
      </div>
      <div class="table">

        <div class="table_section">
          <table>
            <thead>
            <tr>
              <th>Id qr-коду</th>
              <th>Фото</th>
              <th>Назва</th>
              <th>Автор</th>
              <th>Рік</th>
              <th>Стилаж</th>
              <th>Полиця</th>
              <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="takenbook : ${usertaken}">
              <td th:text="${takenbook.getBook().getQrid()}"></td>
              <td><img th:src="@{'data:image/png;base64,' + ${takenbook.getBook().getBookimgconv()} }"/></td>
              <td th:text="${takenbook.getBook().getTitle()}"></td>
              <td th:text="${takenbook.getBook().getAuthor()}"></td>
              <td th:text="${takenbook.getBook().getYear()}"></td>
              <td th:text="${takenbook.getBook().getStilaj()}"></td>
              <td th:text="${takenbook.getBook().getPolka()}"></td>
              <td class="btnactions">
                <form th:action="'/assignedbooks/'+ ${takenbook.getId()}+'/remove'" method="post">
                  <button style="background-color: #f80000" type="submit" ><i class="uil uil-trash-alt"></i></button>
                </form>
            </tr>
            </tbody>

          </table>
        </div>
      </div>

    </div></div>
</section>

<script src="js/script.js"></script>
</body>
</html>

