<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer>
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

        <div class="text">
            <span th:text="#{home.footer.text}">&#169; 2010-2023 КФКПН. Всі права захищено.</span>

        </div>
    </footer></div>