
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <link href="/css/home.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    </head>
    <body>
    <nav>
        <div class="navbar" >
            <div class="right">
                <a href="/#home"><img src="/images/logo.png" alt=""></a>
            </div>
            <div class="logo"><a href="/#home">KCAS<a class="kcas-library">Library</a></a>
            </div>
            <ul class="menu" sec:authorize="isAnonymous()" id="text">
                    <li><a href="/#adout" class="golovna" th:text="#{header.link1}">Про нас</a></li>
                    <li><a href="/#skills" class="golovna" th:text="#{header.link2}">Бібліотека</a></li>
                    <li><a href="/#services" class="golovna" th:text="#{header.link3}">Переваги</a></li>
                    <li><a href="/#contact" class="golovna" th:text="#{header.link4}">Контакти</a></li>
                <div class="cancel-btn">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </ul >
            <ul class="menu" sec:authorize="isAuthenticated()">
                    <li><a href="/" class="golovna" th:text="#{header.link5}">Головна</a></li>
                    <li><a th:href="@{/allbooks}" class="golovna" th:text="#{header.link6}">Всі книги</a></li>
                    <li><a th:href="@{/mytakenbooks}" class="golovna" th:text="#{header.link7}">Мої книги</a></li>
                    <li><a th:href="@{/myfavouritebooks}" class="golovna" th:text="#{header.link8}">Улюблені</a></li>
                <li><a th:href="@{/booksbygroup}" class="golovna" th:text="#{header.link9}">За програмою</a></li>
                <div class="cancel-btn">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </ul>
           
                <div class="btnn"> 
                    <li class="eye golovna"><iconify-icon icon="mdi:language" style="color: #152787;" width="30" height="30"></iconify-icon>
                        
                         <select id="locales" class="my-select-menu">
                        <option value="" th:text="#{lang.change}"></option>
                         <option value="us" th:text="#{lang.us}"></option>
                            <option value="ua" th:text="#{lang.ua}"></option>
                           </select>
                        
                        </li>
                    <li class="eye golovna" onclick="fontsbtnMenu()">
                        <iconify-icon icon="emojione:eye" width="30" height="30" ></iconify-icon>
                        <a  th:text="#{header.impairment}"></a>
                        <div class="fonts-menu-wrap" id="fontsMenu">
                            <div class="fonts-sub-menu">
                                <div class="buttons">
                                    <span class="fonts-buttons active" onclick="buttonfontminus()">-A</span>
                                    <span class="fonts-buttons" onclick="buttonfontplus()">+A</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    
            </div>
            <div class="btn" sec:authorize="isAnonymous()">
                <li class="login-button golovna"><a  th:href="@{/login}" th:text="#{header.button.login}">Вхід</a></li>
                <div class="header-button">
                    <a class="header-button-reg" th:href="@{/register}" th:text="#{header.button.register}">Реєстрація</a>
                </div>
            </div>
          
            <div class="btn" sec:authorize="isAuthenticated()">
                <div class="header-button">
                    <div class="logo-image">
                        <a><img th:src="@{'/profile/image'}"  onclick="toggleMenu()"></a>
                    </div>
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-info">
                                <div class="user-info-img">
                                    <img th:src="@{'/profile/image'}">
                                </div>
                                <h2 class="">
                                    <span sec:authentication="principal.firstName"></span>
                                    <span sec:authentication="principal.lastName"></span>
                                </h2>
                            </div>
                            <hr>
                            <a th:href="@{/editprofile}" class="sub-menu-link">
                                <iconify-icon icon="fluent:person-edit-20-regular" style="color: #25398e;"></iconify-icon>
                                <p th:text="#{header.submenu.link1}">Редагувати профіль</p>
                                <span>></span>
                            </a>
                            <a th:href="@{/librariancontact}" class="sub-menu-link">
                                <iconify-icon icon="material-symbols:help"style="color: #25398e;"></iconify-icon>
                                <p th:text="#{header.submenu.link2}">Контакти бібліотекаря</p>
                                <span>></span>
                            </a>
                            <a th:href="@{/admin}" class="sub-menu-link"  sec:authorize="hasAuthority('ADMIN')">
                                <iconify-icon icon="eos-icons:admin-outlined" style="color: #25398e;"></iconify-icon>
                                <p th:text="#{header.submenu.link3}">Адмін панель</p>
                                <span>></span>
                            </a>
                            <a href="#" class="sub-menu-link" th:href="@{/logout}">
                                <iconify-icon icon="tabler:door-exit"style="color: #25398e;"></iconify-icon>
                                <p th:text="#{header.submenu.link4}">Вийти</p>
                                <span>></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <script src="/js/slider.js"></script>
    <script src="/js/font-buttons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != ''){
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>
</body>
</div>
</html>
