<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="topbook">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/css/home.css" type="text/css" th:href="@{/css/home.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <section class="home" id="home">
        <div class="home-content">
            <div class="right">
            <div class="text">
                <div class="text-two">Ласкаво просимо</div>
                <div class="text-three" sec:authorize="isAnonymous()" >до бібліотеки коледжу</div>
                <div class="text-three" sec:authorize="isAuthenticated()" >
                    <span sec:authentication="principal.firstName"></span>
                    <span sec:authentication="principal.lastName"></span>
                </div>
                <div class="text-four">Детальна інформація про наш заклад</div>
            </div>
            <form action="https://knutd.edu.ua/">
                <div class="button">
                    <button>Знаходиться тут</button>
                </div>
            </form>
            </div>
            <div class="left">
                <video  loop autoplay muted playsinline preload>
                    <source src="https://i.imgur.com/EJrEuvo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>
    <!--about-->
    <section class="adout" id="adout">
        <div class="content">
            <div class="title"><span>Про нас</span></div>
            <div class="about-details">
                <div class="right">

                    <video  loop autoplay muted preload playsinline>
                        <source src="https://i.imgur.com/EJrEuvo.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="left">
                    <div class="topic">Наша бібліотека</div>
                    <p>
                        Бібліотека КНУТД була заснована в 1930 році, як бібліотека Київського інституту шкіряної промисловості. Назва бібліотеки змінювалася відповідно до назви закладу вищої освіти.
                        Початок фондам книгозбірні було покладено передачею 500 примірників книг з бібліотеки Київського політехнічного інституту.
                        Науково-технічна бібліотека є одним із основних структурних підрозділів університету. Бібліотека бере активну участь у підвищенні
                        якості освітнього та науково-дослідного процесів та побудові єдиного інформаційного середовища університету   на базі новітніх інформаційно-комунікаційних
                        технологій. В електронному каталозі відображено активний фонд бібліотеки.

                    </p>
                    <form action="https://knutd.edu.ua/researchwork/library/">
                        <div class="button">
                            <button>Детальніше</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <!--library-->
    <section class="skills" id="skills">
        <div class="content">
            <div class="title-library"><span>Бібліотека</span></div>
            <div class="skills-details">
                <div class="text">
                    <div class="topic">Книжковий фонд</div>
                    <p>Загальний книжковий фонд бібліотеки складає 41455 примірників – це навчальна література, наукова, технічна та спеціальна література.
                        До бібліотеки коледжу надходять 31 періодичне видання. Викладачі і студенти мають можливість вільного доступу до Інтернет з будь якого комп’ютера в технікумі, в гуртожитку, в бібліотеці.
                    </p>
                    <div class="experience">
                        <div class="num">92</div>
                        <div class="exp">Роки <br> роботи</div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="topic">Наукова</div>
                        <div class="per">58%</div>
                    </div>
                    <div class="box">
                        <div class="topic">Технічна</div>
                        <div class="per">12%</div>
                    </div>
                    <div class="box">
                        <div class="topic">Спеціальна</div>
                        <div class="per">15%</div>
                    </div>
                    <div class="box">
                        <div class="topic">Художня</div>
                        <div class="per">15%</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--perevagy-->
    <section class="services" id="services">
        <div class="content">
            <div class="title-services"><span>Переваги</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="topic">Зручний інтерфейс</div>
                    <p>Дуже зручна взаємодія користувача з інформаційною системою.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="topic">Велика бібліотека</div>
                    <p>Загальний книжковий фонд бібліотеки складає 41455 примірників</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="topic">Особистий кабінет</div>
                    <p>Ваша персональна захищена web-сторінка де ти зможеш робити те , що тобі заманеться</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="topic">Надійність</div>
                    <p>інформаційна система онлайн бібліотеки працює цілодобово та без проблем</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="topic">Безпека</div>
                    <p>Система дає тобі захист особистих данних якими ти володієш</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-tablet-alt"></i>
                    </div>
                    <div class="topic">Мобільна версія</div>
                    <p>Система розроблена також для комфортного використаня з смартфону</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title-contact"><span>Контакти</span></div>
            <div class="text">
                <div class="topic">Виникли питання?</div>
                <p>Пиши нам на електронну пошту <a href="mailto: knutd@knutd.edu.ua">knutd@knutd.edu.ua</a> або телефонуй <a href="tel:+38050-232-43-43">+38050-232-43-43</a>. За особистими питаннями можеш звернутися до бібліотекара
                    або до адміна за номером <a href="tel:096 085 46 06">096 085 46 06</a></p>
                <div class="button-contact">
                    <button>Дізнатись більше</button>
                </div>
            </div>
        </div>
    </section>
</div>
</html>