<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="topbook">
<div class="container marketing" style="max-width: 90%;" >

    <div class="row">
        <div class="col-lg-4">
            <a type="buttonkolo" class="buttonkolo buttonkolo1">
                <div class="icons8"></div>
            </a>
            <h2>Хаха</h2>
            <p>Как заставить негра страдать от голода? Спрятать талоны на еду под мыло..</p>
            <p><a type="buttonx" class="x buttonx button4" href="#"><span>Детальніше </span></a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a type="buttonkolo" class="buttonkolo buttonkolo1">
                <div class="icons8"></div>
            </a>
            <h2>Хаха</h2>
            <p>Почему акулы не едят негров? Потому что они считают что это китовое дерьмо.</p>
            <p><a type="buttonx" class="x buttonx button4" href="#"><span>Детальніше</span> </a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <a type="buttonkolo" class="buttonkolo buttonkolo1">
                <div class="icons8"></div>
            </a>
            <h2>Хаха</h2>
            <p>Как уместить 10 евреев в Daewoo Matiz? Очень просто! - в пепельницу.</p>
            <p><a type="buttonx" class="x buttonx button4" href="#"><span>Детальніше</span> </a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        </div>
        <div class="col-md-5">
               <div class="icons9"></div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here</p>
        </div>
        <div class="col-md-5 order-md-1">
            <div class="icons10"></div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here
                Some great placeholder content for the first featurette here. Imagine some exciting prose here</p>
        </div>
        <div class="col-md-5">
            <div class="icons11"></div>
             </div>
    </div>

    <hr class="featurette-divider">
</div></div>