<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:fragment="topbook">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/home.css" type="text/css" th:href="@{/css/home.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Exo+2:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    </head>
    <section class="home" id="home">
        <div class="home-content" id="h">
            <div class="right">
            <div class="text">
                <div class="text-two" th:text="#{greeting}">
                    Ласкаво просимо</div>
                <div class="text-three" th:text="#{greeting2}" sec:authorize="isAnonymous()" >
                    до бібліотеки коледжу
                </div>
                <div class="text-three" sec:authorize="isAuthenticated()" >
                    <span sec:authentication="principal.firstName"></span>
                    <span sec:authentication="principal.lastName"></span>
                </div>
                <div class="text-four" th:text="#{greeting3}">Детальна інформація про наш заклад</div>
            </div>
            <form action="https://kcas.com.ua/">
                <div class="button">
                    <button th:text="#{home.button1}">Знаходиться тут</button>
                </div>
            </form>
            </div>
            <div class="left">
                <video  loop autoplay muted playsinline preload>
                    <source src="https://i.imgur.com/Ty3KnaG.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </section>

    <!--about-->
    <section class="adout" id="adout">
        <div class="content" id="p">
            <div class="title"><span th:text="#{home.title1}">Про нас</span></div>
            <div class="about-details">
                <div class="right">
                    <video  loop autoplay muted preload playsinline>
                        <source src="https://i.imgur.com/EJrEuvo.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="left">
                    <div class="topic" th:text="#{home.topic1}">Наша бібліотека</div>
                    <p th:text="#{home.topic1.text}">Бібліотека є навчальним, науковим, інформаційним та культурно-просвітницьким структурним підрозділом Коледжу.
                        Робота бібліотеки зорієнтована на контексті сучасних тенденцій в державі та державному устрою, європейської
                        інтеграції в Освіті та Державі, та спрямована на забезпечення
                        бібліотечно-інформаційного, культурно-просвітницького, навчально-виховного розвитку студентів Коледжу.</p>
                    <form action="https://kcas.com.ua/bibl.html">
                        <div class="button">
                            <button class="button-fon" th:text="#{home.button2}">Детальніше</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!--slider-->
    <section class="slider-news">
        <div class="content">
            <div class="title">
                <span class="title-news" th:text="#{home.title2}">Новини</span></div>
            <div th:insert="bloks/home-news :: home-news"></div>
        </div>
    </section>
    <!--library-->
    <section class="skills" id="skills">
        <div class="content">
            <div class="title-library" >
                <span  class="title-bibl" th:text="#{home.title3}">Бібліотека</span></div>
            <div class="skills-details">
                <div class="short-p"    >
                    <div class="topic-bibl" th:text="#{home.topic2}">Книжковий фонд</div>
                    <p  th:text="#{home.topic2.text}"></p>
                    <div class="experience">
                        <div class="num">100</div>
                        <div class="exp" style="white-space: pre-line" th:text="#{home.topic2.experience}">Років <br> роботи</div>
                    </div>
                </div>
<!--                <div class="boxes">-->
<!--                    <div class="box">-->
<!--                        <div class="topic" th:text="#{home.topic2.boxes.topic1}">Наукова</div>-->
<!--                        <div class="per">58%</div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="topic" th:text="#{home.topic2.boxes.topic2}">Технічна</div>-->
<!--                        <div class="per">12%</div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="topic" th:text="#{home.topic2.boxes.topic3}">Спеціальна</div>-->
<!--                        <div class="per">15%</div>-->
<!--                    </div>-->
<!--                    <div class="box">-->
<!--                        <div class="topic" th:text="#{home.topic2.boxes.topic4}">Художня</div>-->
<!--                        <div class="per">15%</div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>  
        </div>
    </section>
    <!--perevagy-->
    <section class="services" id="services">
        <div class="content">
            <div class="title-services"><span class="topic-perevag" th:text="#{home.title4}">Переваги</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="topic1" th:text="#{home.topic3.boxes.topic1}">Зручний інтерфейс</div>
                    <p class="pol" th:text="#{home.topic3.boxes.topic1.text}">Зручна взаємодія користувача з інформаційною системою</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="topic2" th:text="#{home.topic3.boxes.topic2}">Унікальний фонд</div>
                    <p class="pol1" th:text="#{home.topic3.boxes.topic2.text}">Загальний книжковий фонд бібліотеки складає 41455 примірників</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="topic3" th:text="#{home.topic3.boxes.topic3}">Особистий кабінет</div>
                    <p class="pol2" th:text="#{home.topic3.boxes.topic3.text}">Персональна захищена web-сторінка</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="topic4" th:text="#{home.topic3.boxes.topic4}">Надійність</div>
                    <p class="pol3" th:text="#{home.topic3.boxes.topic4.text}">Інформаційна система бібліотеки працює 24/7</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="topic5" th:text="#{home.topic3.boxes.topic5}">Безпека</div>
                    <p class="pol4" th:text="#{home.topic3.boxes.topic5.text}">Система дає професійний захист персональних даних</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-tablet-alt"></i>
                    </div>
                    <div class="topic6" th:text="#{home.topic3.boxes.topic6}">Мобільна версія</div>
                    <p class="pol5" th:text="#{home.topic3.boxes.topic6.text}">Система розроблена для комфортного використаня з смартфону</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title-contact"><span class="topic-contact" th:text="#{home.title5}" ></span></div>
            <div class="text">
                <div class="topic7" th:text="#{home.topic4}"></div>
                <p><span th:text="#{home.topic4.text1}"></span> <a href="mailto: kdtlp@ukr.net">kdtlp@ukr.net</a><span th:text="' '+#{home.topic4.text2}"> </span>:</p>
                    <p><a href="tel:066 376 96 42" th:text="#{home.topic4.phone1}"></a></p>
                    <p><a href="tel:066 376 96 42" th:text="#{home.topic4.phone2}"></a></p>
                    <p><a href="tel:044 529 01 62" th:text="#{home.topic4.phone3}"></a></p>
                    <p style="font-weight: bold; color: #3f3f3f;" th:text="#{home.topic4.address1}"></p>
                    <p><a href="https://goo.gl/maps/QzCpsadpb1dmC8pn6?coh=178571&entry=tt" th:text="#{home.topic4.address2}"></a></p>
                <div class="icon-contact">
                    <a href="https://t.me/KCASculture">
                        <iconify-icon icon="ic:baseline-telegram" style="color: #25398e;"></iconify-icon>
                       </a>
                    <a href="https://www.facebook.com/kcas.com.ua">
                         <iconify-icon icon="ic:baseline-facebook" style="color: #25398e;"></iconify-icon>
                    </a>
                    <a href="https://www.instagram.com/kfkpn_official/">
                        <iconify-icon icon="ri:instagram-fill" style="color: #25398e;"></iconify-icon>
                    </a>
                    <a href="https://kcas.com.ua/index.php?do=feedback">
                        <iconify-icon icon="material-symbols:mail" style="color: #25398e;"></iconify-icon>
                    </a>
             
                </div>
            </div>
        </div>
    </section>
</div>
</html>